*{
  cursor: none;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

.body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 99vw;
  height: 98vh;
  transition: 5s;
  box-shadow: 0 0 0 0;
  position: relative;
}

.body:hover {
  box-shadow: 100px 0px 200px 0px #4b0082;
  transition: 5s;
}

.nodeDiv {
  position: absolute;
  width: 99vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
}

.nodeDiv div {
  z-index: 0;
  position: relative;
  transition: 2s ease-out;
}

.wDiv .w {
  height: 98vh;
  width: 14vw;
  z-index: 4;
  opacity: 0.23;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  position: relative;
  z-index: 2;
  font-size: 16vw;
  text-align: center;
  animation-name: liner;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition: 5s;
}

@keyframes liner {
  0% {
    text-shadow: -1px -1px 0 #000;
  }
  25% {
    text-shadow: -1px -1px 0 #270142;
  }
  50% {
    text-shadow: -1px -1px 0 #4b0082, 1px -1px 0 #850cdb;
  }
  75% {
    text-shadow: -1px -1px 0 #4b0082, 1px -1px 0 #980efa, -1px 1px 0 #1a002c;
  }
  100% {
    text-shadow: -1px -1px 0 #9706ff, 1px -1px 0 #8f0aee, -1px 1px 0 #24013d;
  }
}

.sig {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  height: 2vh;
  transition: 1s;
  opacity: 0;
}
.sig:hover {
  opacity: 0.6;
  z-index: 5;
}

.sig h5 {
  margin-right: 2%;
  text-shadow: -1px -1px 0 #d4af37, 1px -1px 0 #d4af37, -1px 1px 0 #d4af37,
    1px 1px 0 #d4af37;
  font-family: 'Black Ops One', cursive;
  position: relative;
}

.sig h6 {
  text-shadow: -1px -1px 0 #d4af37, 1px -1px 0 #d4af37, -1px 1px 0 #d4af37,
    1px 1px 0 #d4af37;
  position: relative;
}
